<div class="pizdec"> LALALA KNOKOUT WORK </div>


<form class="form" id="CrazyForm" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">

    <fieldset  class="fieldset">
        <!-- ko foreach: getRegion('progressBar') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->


    </fieldset>
    <button type="reset">
        <span data-bind="i18n: 'Reset'"></span>
    </button>
    <button type="button"  class="action">
        <span data-bind="i18n: 'Submit'"></span>
    </button>
</form>
